body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  min-width: 400px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(9, 79, 95, 0.5) ), url('../public/footballBackground.jpg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.heading {
  text-align: center;
  font-size: 1.2em;
  color: #0bebffea;
  text-shadow: 1px 4px 1px #7c02ff97;
  margin: 20px 0 30px;
}

.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #ffffff;
  margin: 50px 0;
  height: 200px;
    box-shadow: 0 2px 0 #ad42ff, 0 5px 5px #2aedffea;
  text-align: left;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #0bebffea;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 1.5em;
  color: #7c02ff97;
  display: flex;
  flex: 1;
  margin: 1.4em 20px 0;
}

.card img {
  margin: 30px 20px 0 0;
}


.circle-img {
  border-radius: 20%;
  border: 3.2px solid #7c02ff97;
  width: 9em;
  height: 10em;
}


.circle-img2 {
  border-radius: 50%;
  border: 5px solid #0bebffea;
  width: 10em;
  height: 10em;
}



/* Bottom */
.bottom {
  margin-top: 120px;
}

.info {
  margin: 15px 0;
  color: #2e005f97;
}



